<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profile</title>
    <link rel="stylesheet" href="/static/card.css">
</head>
<body>

    <div class="card">
        <div class="img_holder">
            <div class="circle">
            <img src="<%= ele.image %>" alt="prof pic">
        </div>
        </div>
        <div class="info">
            <div class="mid">
                <%= ele.name %>
            </div>
        <div class="mid ext">
            <img src="https://img.icons8.com/android/40/000000/marker.png"/>
            <%= ele.address %>, India
        </div>
        <div class="mid">
            <p><%= ele.hobbies %></p>
        </div>
        <div class="end">
            <div class="end_ele">
                <img src="https://img.icons8.com/ios/40/000000/birth-date.png"/>
                <%= ele.birthday %>
            </div>
            <div class="end_ele">
                <img src="https://img.icons8.com/dotty/40/000000/phone.png"/>
                <%= ele.phone %>
            </div>
        </div>
    </div>
    </div>
    
</body>
</html>